﻿@model Shop.Web.Models.ViewModels.ShoppingModel
@{
    ViewBag.Title = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div style="float: left; height: 50px; width: 80%;">
        <h4>@Model.Customer.Name</h4>
    </div>
    <div style="float: left; margin-right: 40px;">
        <a href="/Cart/Index/?CustomerId=@Model.Customer.Id&OrderId=@Model.Order.Id">
            <h4>Cart <b>(@Model.OrderItemsCount)</b></h4>
        </a>
    </div>
</div>
<div style="margin-right: 50px; float: right">
    <form action="/Shopping/LogOut">
        <input value="LogOut" type="submit" class="btn btn-default"/>
    </form>
</div>
<div style="clear: both; margin-left: 10px;">
    <h2>Products List</h2>
    <div>
        <table width="100%">
            <tr>
                <td width="auto">
                    Name
                    @Html.ActionLink("↑", "IndexSort", new { customerId = Model.Customer.Id, orderBy = "Name", ascending = false, pageNumber = Model.SelectedPage })
                    @Html.ActionLink("↓", "IndexSort", new { customerId = Model.Customer.Id, orderBy = "Name", ascending = true, pageNumber = Model.SelectedPage })
                </td>
                <td width="100px" align="right">
                    In stock
                    @Html.ActionLink("↑", "IndexSort", new { customerId = Model.Customer.Id, orderBy = "InStock", ascending = false, pageNumber = Model.SelectedPage })
                    @Html.ActionLink("↓", "IndexSort", new { customerId = Model.Customer.Id, orderBy = "InStock", ascending = true, pageNumber = Model.SelectedPage })
                </td>
                <td width="150px" align="right">
                    Cost
                    @Html.ActionLink("↑", "IndexSort", new { customerId = Model.Customer.Id, orderBy = "Cost", ascending = false, pageNumber = Model.SelectedPage })
                    @Html.ActionLink("↓", "IndexSort", new { customerId = Model.Customer.Id, orderBy = "Cost", ascending = true, pageNumber = Model.SelectedPage })
                </td>
                <td width="100px" align="center">
                    Add to cart
                </td>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td align="right">@product.InStock</td>
                    <td align="right">@product.Cost</td>
                    <td align="center">
                        <a href="@Url.Action("AddToCart", "Shopping", new
                                 {
            customerId = Model.Customer.Id,
                                     orderId = Model.Order.Id,
                                     productId = product.Id
                                 })">
                            <p style="font-size: 18pt; margin: 0;">+</p>
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <div style="float: left; margin: 3px; padding: 5px; @if (i == Model.SelectedPage)
                                                                    {
                                                                        @:background-color: lightgray;
                                                                    }">

                    @Html.ActionLink(i.ToString(), "IndexSort",
                                     new
                                     {
                                         customerId = Model.Customer.Id,
                                         orderBy = Model.SortField,
                                         ascending = Model.Ascending,
                                         pageNumber = i
                                     })
                </div>
            }
            <div style="clear: both" />
        </div>
    </div>
</div>