﻿@using Shop.Web.Helpers
@{
    ViewBag.Title = "Login";
}

@Html.ActionLink("Editor", "Index", "ProductsEditor")

<h2>Login</h2>

@Html.ShowError((string)ViewBag.ErrorMessage)

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <input name="UserName" type="text" required placeholder="Username" class="form-control" style="margin-bottom: 10px" />

    <input name="Password" type="password" required minLength="4" placeholder="Password" class="form-control" style="margin-bottom: 10px" />

    <input type="submit" value="Log in" class="btn btn-default" />
}

@Html.ActionLink("Sign up", "SignUp", "Home")