﻿@using Shop.Web.Helpers
@model Shop.BLL.Entity.Customer

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
@Html.ShowError((string)ViewBag.ErrorMessage)

<h4>Customer</h4>
<hr />
@using (Html.BeginForm())
{
    <input name="name" type="text" required placeholder="Username" class="form-control" style="margin-bottom: 10px" />
    <input name="password" type="password" required placeholder="Password" class="form-control" style="margin-bottom: 10px" />
    <input type="submit" value="Sign up" class="btn btn-default" />
}

<div>
    @Html.ActionLink("Back to Login", "Index")
</div>