﻿@model Shop.Web.Models.Entity.Customer

@{
    ViewBag.Title = "ShowHistory";
}

<h2>History</h2>
@Html.ActionLink("Back to cart", "Index", new {customerId = Model.Id})
<ol>
    @foreach (var order in Model.Orders)
    {
        <li style="font-size: 18pt">
            <h4>Order №@order.Id</h4>
            <div style="font-size: 12pt">
                <table width="100%">
                    <tr>
                        <td>Product</td>
                        <td align="right">Count</td>
                        <td align="right">Cost</td>
                        <td align="right">Amont</td>
                    </tr>
                    @foreach (var item in order.OrderItems)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td align="right">@item.Count</td>
                            <td align="right">@item.Product.Cost</td>
                            <td align="right">@item.GetAmount()</td>
                        </tr>
                    }
                </table>
                <p style="margin-right: 20px">Amount: @order.GetAmount()</p>
            </div>
        </li>
    }
</ol>