﻿@model Shop.Web.Models.ViewModels.CartModel

@{
    ViewBag.Title = "Index";
}

<h3>@Model.Customer.Name</h3>
<h2>Cart</h2>
@Html.ActionLink("Back to shopping", "BackToShopping", new {customerId = Model.Customer.Id}) |
@Html.ActionLink("History", "History", new {customerId = Model.Customer.Id})
<table width="100%">
    <tr>
        <td width="auto">Name</td>
        <td width="150px" align="right">Cost</td>
        <td width="150px" align="center">Count</td>
        <td width="100px" align="right">Amount</td>
        <td width="30px" align="center">Delete</td>
    </tr>
    @foreach (var item in Model.Order.OrderItems)
    {
        <tr>
            <td>
                @item.Product.Name
            </td>
            <td align="right">
                @item.Product.Cost
            </td>
            <td align="right">
                @using (Html.BeginForm("ChangeCount", "Cart"))
                {
                    <input type="hidden" name="customerId" value="@Model.Customer.Id"/>
                    <input type="hidden" name="orderid" value="@Model.Order.Id"/>
                    <input type="hidden" name="productId" value="@item.ProductId"/>
                    <input style="margin-bottom: 4px; margin-right: 5px; margin-top: 4px; width: 50px;" type="number" name="newCount" value="@item.Count" min="1" max="@item.Product.InStock"/>
                    <input style="float: right;" type="submit" value="OK" class="btn btn-default"/>
                    <div style="clear: both"/>
                }
            </td>
            <td align="right">
                @item.GetAmount()
            </td>
            <td align="center">
                @Html.ActionLink("X", "DeleteOrdeItem", new {customerId = Model.Customer.Id, orderId = Model.Order.Id, productId = item.ProductId})
            </td>
        </tr>
    }
</table>
<div style="float: right; margin-bottom: 10px; margin-right: 20px;">
    <h5 style="line-height: 25px; margin-top: 5px; text-align: right;">
        Amount:<br/>
        @Model.Order.GetAmount()
    </h5>
</div>
<div style="clear: both"/>
<div style="float: right;">
    @using (Html.BeginForm("Buy", "Cart"))
    {
        <input type="hidden" name="customerId" value="@Model.Customer.Id"/>
        <input type="hidden" name="orderId" value="@Model.Order.Id"/>
        <input type="submit" value="Buy all"class="btn btn-default"/>
    }
</div>
<div style="clear: both; margin-bottom: 30px;"></div>