﻿@using Shop.Web.Helpers
@model Shop.Web.Models.Entity.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.ShowError((string)ViewBag.ErrorMessage)

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div class="form-group">
            <p class = "control-label col-md-2">Name</p>
            <div class="col-md-10">
                <input type="text" required min="1" value="@Model.Name" name="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">Cost</p>
            <div class="col-md-10">
                <input type="number" required min="0" max="@int.MaxValue" value="@Model.Cost" name="Cost" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">In Stock</p>
            <div class="col-md-10">
                <input type="number" required min="0" max="@int.MaxValue" value="@Model.InStock" name="InStock" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>