﻿@using Shop.Web.Helpers
@model Shop.Web.Models.Entity.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.ShowError((string) ViewBag.ErrorMessage)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="text" required min="1" value="@Model.Name" name="Name" class="form-control" />
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="number" required min="0" max="@int.MaxValue" value="@Model.Cost" name="Cost" class="form-control"/>
                @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InStock, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="number" required min="0" max="@int.MaxValue" value="@Model.InStock" name="InStock" class="form-control"/>
                @Html.ValidationMessageFor(model => model.InStock, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>