﻿@model Shop.Web.Models.ViewModels.EditorModel

@{
    ViewBag.Title = "Edit products";
}

<h2>View</h2>

<p style="padding: 5px 10px;">
    @Html.ActionLink("Login page", "Login", "Home")
</p>
<p style="padding: 5px 10px; background-color: lightgray; width:unset; display:inline-block">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
            @Html.ActionLink("↑", "Index", new {pageNumber = Model.SelectedPage, orderBy = "Name", ascending=false })
            @Html.ActionLink("↓", "Index", new {pageNumber = Model.SelectedPage, orderBy = "Name", ascending=true })
        </th>
        <th>
            Cost
            @Html.ActionLink("↑", "Index", new { pageNumber = Model.SelectedPage, orderBy = "Cost", ascending = false })
            @Html.ActionLink("↓", "Index", new { pageNumber = Model.SelectedPage, orderBy = "Cost", ascending = true })
        </th>
        <th>
            InStock
            @Html.ActionLink("↑", "Index", new { pageNumber = Model.SelectedPage, orderBy = "InStock", ascending = false })
            @Html.ActionLink("↓", "Index", new { pageNumber = Model.SelectedPage, orderBy = "InStock", ascending = true })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
</table>

<div>
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <div style="float: left; margin: 3px; padding: 5px; @if (i == Model.SelectedPage)
                                                            {
                                                                @:background-color: lightgray; 
                                                            }">

            @Html.ActionLink(i.ToString(), "Index",
                             new
                             {
                                 orderBy = Model.SortField,
                                 ascending = Model.Ascending,
                                 pageNumber = i
                             })
        </div>
    }
    <div style="clear: both"/>
</div>